<div>
    <slot>
        <h1>Orders</h1>
        <span class="sync" @click="syncLatest">sync latest</span>
        <ul class="orders">
            <OrderItem
                    v-for="task in tasks"
                    :key="task.id"
            >
                <RouterLink :href="'/task/'+ task.id">{{ task.task_name }}</RouterLink>
                <p>{{ task.task_descr }}</p>
            </OrderItem>
        </ul>
        <span class="older" @click="loadOlder">load more</span>
    </slot>
</div>